<template name="scheduleItem">
  <div class="post">
    <div class="post-content" style="margin-top: -44px;">
    {{#if isAdmin}}
      {{#if locked}}
        <button class="btn btn-mini unlockBtn" id='unlockBtn' style='width: 24px; margin-left: -24px; margin-top: 20px; padding: 0px 2px 0px 2px;' title="Unlock schedule">
          <i class="icon-lock icon-white"></i>
        </button>
      {{else}}
        <button class="btn btn-mini lockBtn" id='lockBtn' style='width: 24px; margin-left: -24px; margin-top: 20px; padding: 0px 2px 0px 2px;' title="Lock schedule">
          <i class="icon-lock"></i>
        </button>
      {{/if}}
      {{#unless approved}}
        {{#if submitted}}
          <button class="btn btn-success btn-mini approveBtn" id='approveBtn' style='width: 24px; margin-left: 324px; margin-top: 20px; padding: 0px 2px 0px 2px;' title="Approve schedule">
            <i class="icon-ok icon-white"></i>
          </button>
          <button class="btn btn-danger btn-mini rejectBtn" id='rejectBtn' style='width: 24px; margin-top: 20px; padding: 0px 2px 0px 2px;' title="Reject schedule">
            <i class="icon-remove icon-white"></i>
          </button>
        {{/if}}
      {{/unless}}
    {{/if}}
    </div>
    <div class="post-content">
      <h3><a href="{{url}}">{{empName}}</a></h3>
      <p>
      	<i>created by</i> <b>{{userName createdBy}}</b>,
        <a href="{{schedulePagePath this}}">{{pluralize periodsCount "period"}}</a>
      	{{#if ownSchedule}}<a href="{{scheduleEditPath this}}">Edit</a>{{/if}}
      </p>
    </div>
    {{#if hasAccess}}
      <a href="{{schedulePagePath this}}" class="submit btn btn-primary">Submit</a>
    {{/if}}
  </div>
</template>