<template name="scheduleDialog">
  <div id="scheduleDialog" class="modal">
    {{#with sch}}
      <div class="modal-header">
        <!-- <a class="close" data-dismiss="modal">x</a> -->
        <a style="float: right; margin-top: -4px; margin-right: -10px;" class="closeBtn" data-dismiss="modal">
          <button class="btn btn-mini btn-danger"><i class="icon-white icon-remove"></i></button>
        </a>
        {{#if selectedSchedule}}
        	<h3>Update Schedule</h3>
        {{else}}
          <h3>Add an Schedule</h3>
        {{/if}}
      </div>
      <div class="modal-body">
        {{#if isAdmin}}
          <label for="empId">Employee <span style="color: red">*</span></label>
          <select type="text" name="empId" id="empId" value="{{empId}}" style="width: 220px;">
            {{#each employees}}
              <option value='{{_id}}' {{selectedValue _id sch.empId}}>{{fname}} {{lname}}</option>
            {{/each}}
          </select>
        {{else}}
          <label for="empId">Employee</label>
          <select type="text" name="empId" id="empId" value="{{empId}}" style="width: 220px;" disabled>
            <option value='{{empId}}' selected='selected'>{{empFullName empId}}</option>
          </select>
        {{/if}}
        <label for="validS">Start Date <span style="color: red">*</span></label>
        <input type="text" name="validS" value="{{validS}}" id="validS" placeholder="YYYY-MM-DD" style="width: 90px;">
        <label for="validE">End Date <span style="color: red">*</span></label>
        <input type="text" name="validE" value="{{validE}}" id="validE" placeholder="YYYY-MM-DD" style="width: 90px;">
        {{#if isAdmin}}
          <label for="status">Status <span style="color: red">*</span></label>
          <select type="text" name="status" id="status" value="{{status}}" style="width: 130px;">
              <option value='' {{selectedValue status ''}}></option>
              <option value='Not Submitted' {{selectedValue status 'Not Submitted'}}>Not Submitted</option>
              <option value='Pending' {{selectedValue status 'Pending'}}>Pending</option>
              <option value='Approved' {{selectedValue status 'Approved'}}>Approved</option>
              <option value='Rejected' {{selectedValue status 'Rejected'}}>Rejected</option>
          </select>
        {{else}}
          <label for="status">Status</label>
          <select type="text" name="status" id="status" value="{{status}}" style="width: 220px;" disabled>
            <option value='{{status}}' selected='selected'>{{status}}</option>
          </select>
        {{/if}}
      </div>
      <div class="modal-footer">
        {{#if selectedSchedule}}
          <table>
            <tr>
              <td style="width: 400px; text-align: left; font-family: Tahoma, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 8pt; padding: 0; line-height: 13px; border-spacing: 0;">
                Created at {{dateTimeFormat created}} by {{createdBy}}<br />
                Last modified at {{dateTimeFormat modified}} by {{modifiedBy}}
              </td>
              <td style="width: 160px;">
                <a href="" class="btn btn-success save">Save</a>
                <a href="" class="btn cancel" data-dismiss="modal">Cancel</a>
              </td>
            </tr>
          </table>
        {{else}}
          <a href="" class="btn btn-success add">Add</a>
          <a href="" class="btn cancel" data-dismiss="modal">Cancel</a>
        {{/if}}
      </div>
    {{/with}}
  </div>
</template>