<template name="schedulesListItem">
  <tr height="24">
    {{#if hasAccess }}
      <td>{{id}}</td>
      <td><a href="/schedules/{{_id}}" class="details"><b>{{empFullName empId}}</b></a></td>
      <td>{{periodsCount}}</td>
      <td>{{hoursCount}}</td>
      <td>{{validS}}</td>
      <td>{{validE}}
      <td>{{status}}
      <td style="padding: 8px 2px 8px 2px;">
        <a href="/schedules/{{_id}}">
          <button class="btn btn-mini btn-primary"><i class="icon-white icon-edit"></i>&nbsp;&nbsp;Details</button>
        </a>
      </td>
      <td style="padding: 8px 2px 8px 2px;">
        <a href="">
          <button class="btn btn-mini edit"><i class="icon-edit edit"></i>&nbsp;&nbsp;Edit</button>
        </a>
      </td>
      <td style="padding: 8px 2px 8px 2px;">
        <a href="">
          <button class="btn btn-mini btn-danger delete"><i class="icon-white icon-remove delete"></i></button>
        </a>
      </td>
    {{else}}
      <td>{{id}}</td>
      <td><b>{{empFullName empId}}</b></td>
      <td>{{periodsCount}}</td>
      <td>{{hoursCount}}</td>
      <td>{{validS}}</td>
      <td>{{validE}}
      <td>{{status}}
      <td colspan="3"></td>
    {{/if}}
  </tr>
</template>