<template name="scheduleTotals">
  {{#with totals}}
	<table>
	<tbody>
	  <tr>
	    <td><div class='external-event label-day' style='width: 60px;'>Periods:</div></td>
		<td><div class='external-event paid-day totals' style='text-align: right; width: 60px;'>{{periods}}</div></td>
		<td style='width: 120px;'></td>
	    <td><div class='external-event label-day' style='width: 60px;'>Hours:</div></td>
		<td><div class='external-event paid-day totals' style='text-align: right; width: 60px;'>{{hours}}</div></td>
	  </tr>
	  <tr><td colspan="5" style="height: 4px;"></td></tr>
	</tbody>
	</table>
  {{/with}}
</template>