<template name="employeesListItem">
  <tr height="24">
    <td>{{id}}</td>
    <td>
      {{#if hasActiveSchedule}}
        <a href="/schedules/{{activeScheduleId}}" class="details"><b>{{fname}} {{lname}}</b></a>
      {{else}}
        <a href="/schedules" class="details"><b>{{fname}} {{lname}}</b></a>
      {{/if}}
    </td>
    <td>{{email}}</td>
    <td>{{roleName roleId}}
    <td>{{userName userId}}
    <td>{{groupName group}}</td>
    <!-- <td>{{AL}}</td> -->
    <!-- <td>{{SL}}</td> -->
    {{#if hasAccess }}
      <td style="padding: 8px 2px 8px 2px;">
        {{#if hasActiveSchedule}}
        <a href="/schedules/{{activeScheduleId}}">
          <button class="btn btn-mini btn-primary" {{hasActiveSchedule}}><i class="icon-white icon-edit"></i>&nbsp;&nbsp;Schedule</button>
        </a>
        {{/if}}
      </td>
      <td style="padding: 8px 2px 8px 2px;">
        <a href="">
          <button class="btn btn-mini edit"><i class="icon-edit edit"></i>&nbsp;&nbsp;Edit</button>
        </a>
      </td>
      <td style="padding: 8px 2px 8px 2px;">
        <a href="">
          <button class="btn btn-mini btn-danger delete"><i class="icon-white icon-remove delete"></i></button>
        </a>
      </td>
    {{else}}
      <td colspan="3"></td>
    {{/if}}
  </tr>
</template>