<template name="employees">
  <table style="width: 100%;">
    <tr>
      <td style="width: 200px; vertical-align: bottom; padding: 0 0 21px;">
        {{#if isAdmin}}
          <a href="" class="btn btn-success add">+ Add employee</a>
        {{/if}}
      </td>
      <td>
        <form class="form-inline">
          <input type="search" placeholder="Name/Email" class="src-emp span4" name="q" value="">
          <button class="btn"><i class="icon-search"></i> Search</button>
        </form>
      </td>
      <td style="text-align: right; vertical-align: bottom; padding: 0 0 21px; width: 144px;">
        <select type="text" name="roleId" id="roleId" title="Role"
          style="margin: 0px 0px 3px 0px; padding: 4px 2px 4px 2px; width: 140px; height: 24px; font-size: 10px;">
          <option value="">(All)</option>
          {{#each roles}}
            <option value='{{_id}}'{{selectedValue _id selectedRoleFilter}}>{{name}}</option>
          {{/each}}
        </select>
      </td>
      <td style="text-align: right; vertical-align: bottom; padding: 0 0 21px; width: 144px;">
        <select type="text" name="groupId" id="groupId" 
          style="margin: 0px 0px 3px 0px; padding: 4px 2px 4px 2px; width: 140px; height: 24px; font-size: 10px;">
          <option value="">(None)</option>
          {{#each groups}}
            <option value='{{_id}}'{{selectedValue _id selectedGroupFilter}}>{{name}}</option>
          {{/each}}
        </select>
      </td>
      <td style="text-align: right; padding: 0 0 21px; width: 80px;">
        <!-- All&nbsp;&nbsp;&nbsp;&nbsp;<a href="/groups/view?id=1">Test</a>&nbsp;&nbsp;&nbsp;&nbsp; -->
        {{#if isAdmin}}
          <a href="" class="btn btn-mini add-group" style="height: 23px;">+ Add group</a>
        {{/if}}
      </td>
    </tr>
  </table>
  {{#if showDialogEmployee}}
    {{> employeeDialog}}
  {{/if}}
  {{#if showDialogEmpDelConf}}
    {{> empDelConfDialog}}
  {{/if}}
  {{#if showDialogGroup}}
    {{> groupDialog}}
  {{/if}}
  {{> employeesList}}
  <div style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 10px;">
    <i><u>Last updated:</u> {{lastEmpMod}}</i>
  </div>
</template>

<template name="employeesList">
  <div class="employees">
    <table class="table table-striped table-middle">
      <tbody>
        <tr>
          <td width="30">#</td>
          <td width="260">
            <a name="fname" href="" class="orderBy">Full Name</a> <i class="{{sortBy 'fname'}}" style="opacity:1.0;"></i>
          </td>
          <!-- <td width="260"><a name="email" href="">Email</a></td> -->
          <td width="100">
            <a name="role" href="" class="orderBy">Role</a> <i class="{{sortBy 'role'}}" style="opacity:1.0;"></i>
          </td>
          <td width="260">
            <a name="supervisor" href="" class="orderBy">Supervisor</a> <i class="{{sortBy 'supervisor'}}" style="opacity:1.0;"></i>
          </td>
          <td width="140">
            <a name="user" href="" class="orderBy">User</a> <i class="{{sortBy 'user'}}" style="opacity:1.0;"></i>
          </td>
          <td width="150">
            <!-- <a name="group" href="" class="orderBy">Group</a> <i class="{{sortBy 'group'}}" style="opacity:1.0;"></i> -->
          </td>
          <!-- <td width="60">AL</td> -->
          <!-- <td width="60">SL</td> -->
          <td colspan="4"></td>
        </tr>
  	    {{#each employees}}
  	      {{> employeesListItem}}
  	    {{/each}}
      </tbody>
    </table>
  </div>
</template>