<template name="employeeDialog">
  <div id="employeeDialog" class="modal">
    {{#with emp}}
      <div class="modal-header">
        <!-- <a class="close" data-dismiss="modal">x</a> -->
        <a style="float: right; margin-top: -4px; margin-right: -10px;" class="closeBtn" data-dismiss="modal">
          <button class="btn btn-mini btn-danger"><i class="icon-white icon-remove"></i></button>
        </a>
        {{#if selectedAction 'View'}}
          <h3>Employee Details</h3>
        {{else}}
          {{#if selectedAction 'Edit'}}
        	  <h3>Update Employee</h3>
          {{else}}
            {{#if selectedAction 'Add'}}
              <h3>Add an Employee</h3>
            {{/if}}
          {{/if}}
        {{/if}}
      </div>
      <div class="modal-body">
        <table>
          <tr>
            <td>
              <label for="fname">First Name <span style="color: red">*</span></label>
              <input type="text" name="fname" value="{{fname}}" id="fname">
            </td>
            <td>
              <label for="lname">Last Name <span style="color: red">*</span></label>
              <input type="text" name="lname" value="{{lname}}" id="lname">
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <label for="email">Email <span style="color: red">*</span></label>
              <input type="text" name="email" value="{{email}}" id="email" style="width: 428px;">
            </td>
          </tr>
          {{#if isAdmin}}
          <tr>
            <td>
              <label for="roleId">Role <span style="color: red">*</span></label>
              <select type="text" name="roleId" id="roleId" value="{{roleId}}">
                <option value="">(None)</option>
                {{#each roles}}
                  <option value='{{_id}}'{{selectedValue _id emp.roleId}}>{{name}}</option>
                {{/each}}
              </select>
            </td>
            <td>
              <label for="supervisorId">Supervisor <span style="color: red">*</span></label>
              <select type="text" name="supervisorId" id="supervisorId" value="{{supervisorId}}">
                <option value="">(None)</option>
                {{#each supervisors}}
                  <option value='{{_id}}'{{selectedValue _id emp.supervisorId}}>{{fname}} {{lname}}</option>
                {{/each}}
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <label for="userId">Username</label>
              <select type="text" name="userId" id="userId" value="{{userId}}">
                <option value="">(None)</option>
                {{#each users}}
                  <option value='{{_id}}'{{selectedValue _id emp.userId}}>{{username}}</option>
                {{/each}}
              </select>
            </td>
            <td>
              <!-- <label for="groupId">Group</label> -->
              <!-- <select type="text" name="groupId" id="groupId" value="{{groupId}}"> -->
                <!-- <option value="">(None)</option> -->
                {{#each groups}}
                  <!-- <option value='{{_id}}'{{selectedValue _id emp.groupId}}>{{name}}</option> -->
                {{/each}}
              <!-- </select> -->
            </td>
          </tr>
          <tr>
            <td>
              <label for="al">Annual Leave Days</label>
              <input type="text" name="al" value="{{AL}}" id="al">
            </td>
            <td>
              <label for="sl">Sick Leave Days</label>
              <input type="text" name="sl" value="{{SL}}" id="sl">
            </td>
          </tr>
          {{else}}
          <tr>
            <td>
              <label for="role">Role <span style="color: red">*</span></label>
              <select type="text" name="role" id="role" value="{{roleId}}" disabled>
                <option value='{{roleId}}' selected='selected'>{{roleName roleId}}</option>
              </select>
            </td>
            <td>
              <label for="role">Supervisor <span style="color: red">*</span></label>
              <select type="text" name="supervisor" id="supervisor" value="{{supervisorId}}">
                <option value='{{supervisorId}}' selected='selected'>{{empFullName supervisorId}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <label for="userId">Username</label>
              <select type="text" name="userId" id="userId" value="{{userId}}" disabled>
                  <option value='{{userId}}' selected='selected'>{{userName userId}}</option>
              </select>
            </td>
            <td>
              <label for="group">Group</label>
              <select type="text" name="group" id="group" value="{{group}}">
                <option value="">(None)</option>
                {{#each groups}}
                  <option value='{{_id}}'{{selectedValue name emp.group}}>{{name}}</option>
                {{/each}}
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <label for="al">Annual Leave Days</label>
              <input type="text" name="al" value="{{AL}}" id="al" disabled>
            </td>
            <td>
              <label for="sl">Sick Leave Days</label>
              <input type="text" name="sl" value="{{SL}}" id="sl" disabled>
            </td>
          </tr>
          {{/if}}
        </table>
      </div>
      <div class="modal-footer">
        {{#if selectedAction 'Add'}}
          <a href="" class="btn btn-success add">Add</a>
          <a href="" class="btn cancel" data-dismiss="modal">Cancel</a>
        {{else}}
          <table>
            <tr>
              <td style="width: 400px; text-align: left; font-family: Tahoma, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 8pt; padding: 0; line-height: 13px; border-spacing: 0;">
                Created at {{dateTimeFormat created}} by {{createdBy}}<br />
                Last modified at {{dateTimeFormat modified}} by {{modifiedBy}}
              </td>
              <td style="width: 160px;">
                {{#if selectedAction 'Edit'}}
                  <a href="" class="btn btn-success save">Save</a>
                  <a href="" class="btn cancel" data-dismiss="modal">Cancel</a>
                {{else}}
                  <a href="" class="btn cancel" data-dismiss="modal">Close</a>
                {{/if}}
              </td>
            </tr>
          </table>
        {{/if}}
      </div>
    {{/with}}
  </div>
</template>