<template name="messages">
  <div class="messages row-fluid" style="height: 30px;">
  	{{#each messages}}
  	  {{> message}}
  	{{/each}}
  	{{#each errors}}
  	  {{> error}}
  	{{/each}}
  </div>
</template>

<template name="message">
  <div class="alert alert-success" id={{_id}}>
  	<button type="button" class="close" data-dismiss="alert">&times;</button>
  	  {{message}}
  </div>
</template>

<template name="error">
  <div class="alert alert-error">
  	<button type="button" class="close" data-dismiss="alert">&times;</button>
  	  {{message}}
  </div>
</template>