<template name="scheduleCalendarFrame">
  <!-- <input type="hidden" name="lastMod" value="{{lastCalEventMod}}" id="lastMod"> -->
  <!-- <div id="legend">
    <div class="paid-day"></div>
    <a href="reports/requests?type=paid">
      Paid Day Off
    </a>
    <div class="unpaid-day margin-left-20"></div>
    <a href="reports/requests?type=unpaid">
      Unpaid Day Off
    </a>
    <div class="legal-day margin-left-20"></div>
      Legal Day Off       
    <div class="pending-day margin-left-20"></div>
    <a href="reports/requests?type=pending">
      Pending Day Off
    </a>
    <div class="red-day margin-left-20"></div>
    <a href="reports/requests?type=rejected">
      Not Granted Day Off
    </a>
    <div class="clear"></div>
  </div> -->
  <table>
    <tr>
      <td>
        <div id='external-events' style='line-height: 14px; width: 100%;'>
	        <!-- <h4>Events</h4> -->
	        <table>
	  	      <tr style='vertical-align: top; height: 28px;'>
    			    <td style='width: 99%;'>&nbsp;</td>
              {{#if hasAccess}}
                {{#if hasPeriods}}
                  {{#if isApproved}}
            	    	<td>
          	          <!-- <div class='external-event label-day' id='genWYearDays' style='width: 14px;' title="Generate work events"> -->
          	            <!-- <i class="icon-play-circle"></i> -->
          	          <!-- </div> -->
                      <button class="btn btn-mini" id='genWYearDays' title="Generate year work events">
                        <i class="fa fa-toggle-right" style="font-size: 14px; color: #000"></i>
                      </button>
          	     	  </td>
                  {{/if}}
                  {{#unless isLocked}}
      	    	      <td>
        	    	      <!-- <div class='external-event label-day' id='resetSchedule' style='width: 14px;' title="Delete all events"> -->
                        <!-- <i class="icon-trash"></i> -->
                      <!-- </div> -->
                      <button class="btn btn-mini" id='resetSchedule' title="Delete all periods">
                        <i class="fa fa-trash-o" style="font-size: 14px; color: #f00;"></i>
                      </button>
        	          </td>
                  {{/unless}}
                {{/if}}
              {{/if}}
		        </tr>
		      </table>
	        <!-- <p> -->
			      <!-- <input type='checkbox' id='drop-remove' /> -->
			      <!-- <label for='drop-remove'>remove after drop</label> -->
		      <!-- </p> -->
  	    </div>
      </td>
    </tr>
	<tr>
	  <td style="width: 1200px;">
		{{> scheduleCalendar}}
	  </td>
	</tr>
	<tr>
	  <td>
		<br/>
		<div style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 10px;">
		  <i><u>Last updated:</u> {{lastCalPeriodMod}}</i>
		</div>
	  </td>
	</tr>
  </table>
</template>