<template name="holidaysListItem">
      <tr height="24">
        <td>{{id}}</td>
        <td><a href="" class="editBtn"><b>{{date}}</b></a></td>
        <td>{{title}}</td>
        <td></td>
        <td style="padding: 8px 0px 8px 0px; width: 30px;">
          <!-- <a href=""><button class="btn btn-mini edit"><i class="icon-edit edit"></i>&nbsp;&nbsp;Edit</button></a> -->
          <a href=""><button class="btn btn-mini editBtn" title="Edit"><i class="icon-edit"></i></button></a>
        </td>
        <td style="padding: 8px 0px 8px 0px; width: 30px;">
          <!-- <a href=""><button class="btn btn-mini btn-danger delete"><i class="icon-white icon-remove delete"></i></button></a> -->
          <a href=""><button class="btn btn-mini deleteBtn" title="Delete"><i class="icon-trash"></i></button></a>
        </td>
      </tr>
</template>