<template name="holidaysListItem">
      <tr height="24">
        <td>{{id}}</td>
        <td><a href="" class="details"><b>{{date}}</b></a></td>
        <td>{{title}}</td>
        <td></td>
        <td><a href="">
          <button class="btn btn-mini edit"><i class="icon-edit edit"></i>&nbsp;&nbsp;Edit</button>
        </a></td>
        <td><a href="">
          <button class="btn btn-mini btn-danger delete"><i class="icon-white icon-remove delete"></i>&nbsp;&nbsp;Delete</button>
        </a></td>
      </tr>
</template>