<template name="newPosts">
  <table style="width: 100%;">
    <tr>
      <td style="width: 200px; vertical-align: bottom; padding: 0 0 21px;">
        {{#if isAuthorized}}
          <a href="" class="btn btn-success add">+ Add month</a>
        {{/if}}
      </td>
      <td>
        <form class="form-inline">
          <input type="search" placeholder="Name/Email" class="src-emp span4" name="q" value="">
          <button class="btn"><i class="icon-search"></i> Search</button>
        </form>
      </td>
      <!-- <td style="text-align: right; padding: 0 0 21px;"> -->
        <!-- All&nbsp;&nbsp;&nbsp;&nbsp;<a href="/groups/view?id=1">Test</a>&nbsp;&nbsp;&nbsp;&nbsp; -->
        <!-- {{#if isAdmin}} -->
          <!-- <a href="" class="btn btn-mini add-group">+ Add group</a> -->
        <!-- {{/if}} -->
      <!-- </td> -->
    </tr>
  </table>
  {{#if showDialogPost}}
    {{> postDialog}}
  {{/if}}
  {{#if showDialogPostDelConf}}
    {{> postDelConfDialog}}
  {{/if}}
  {{#if showDialogGroup}}
    {{> groupDialog}}
  {{/if}}
  {{> postsList options}}
</template>

<template name="postsList">
  <div class="posts">
    {{#each posts}}
      {{> postsListItem}}
    {{/each}}

    {{#if postsReady}}
      {{#unless allPostsLoaded}}
        <a class="load-more" href="#">Load more</a>
      {{/unless}}
    {{else}}
      <div>{{> spinner}}</div>
    {{/if}}
  </div>
</template>