<template name="newPosts">
  <table style="width: 100%;">
    <tr>
      <td style="width: 200px; vertical-align: bottom; padding: 0 0 21px;">
        {{#if isAuthorized}}
          <a href="" class="btn btn-success add">+ Add month</a>
        {{/if}}
      </td>
      <td>
        <form class="form-inline">
          <input type="search" placeholder="Name/Email" class="src-emp span4" name="q" value="">
          <button class="btn"><i class="icon-search"></i> Search</button>
        </form>
      </td>
      <td style="text-align: right; vertical-align: bottom; padding: 0 0 21px; width: 60px;">
        <select type="text" name="mm" id="mm" title="Month"
          style="margin: 0px 0px 3px 0px; padding: 4px 2px 4px 2px; width: 56px; height: 24px; font-size: 10px;">
          <option value="">(All)</option>
          {{#each months}}
            <option value='{{m}}'{{selectedValue m selectedMonthFilter}}>{{mm}}</option>
          {{/each}}
        </select>
      </td>
      <td style="text-align: right; vertical-align: bottom; padding: 0 0 21px; width: 60px;">
        <select type="text" name="yr" id="yr" title="Year"
          style="margin: 0px 0px 3px 0px; padding: 4px 2px 4px 2px; width: 56px; height: 24px; font-size: 10px;">
          <option value="">(All)</option>
          {{#each years}}
            <option value='{{year}}'{{selectedValue year selectedYearFilter}}>{{year}}</option>
          {{/each}}
        </select>
      </td>
      <td style="text-align: right; vertical-align: bottom; padding: 0 0 21px; width: 144px;">
        <select type="text" name="groupId" id="groupId" title="Group"
          style="margin: 0px 0px 3px 0px; padding: 4px 2px 4px 2px; width: 140px; height: 24px; font-size: 10px;">
          <option value="">(None)</option>
          {{#each groups}}
            <option value='{{_id}}'{{selectedValue _id selectedGroupFilter}}>{{name}}</option>
          {{/each}}
        </select>
      </td>
      <td style="text-align: right; padding: 0 0 21px; width: 80px;">
        <!-- All&nbsp;&nbsp;&nbsp;&nbsp;<a href="/groups/view?id=1">Test</a>&nbsp;&nbsp;&nbsp;&nbsp; -->
        {{#if isAdmin}}
          <a href="" class="btn btn-mini add-group" style="height: 23px;">+ Add group</a>
        {{/if}}
      </td>
    </tr>
  </table>
  {{#if showDialogPost}}
    {{> postDialog}}
  {{/if}}
  {{#if showDialogPostDelConf}}
    {{> postDelConfDialog}}
  {{/if}}
  {{#if showDialogGroup}}
    {{> groupDialog}}
  {{/if}}
  {{> postsList options}}
</template>

<template name="postsList">
  <div class="posts">
    {{#each posts}}
      {{> postsListItem}}
    {{/each}}

    {{#if postsReady}}
      {{#unless allPostsLoaded}}
        <a class="load-more" href="#">Load more</a>
      {{/unless}}
    {{else}}
      <div>{{> spinner}}</div>
    {{/if}}
  </div>
</template>