<template name="postTotals">
  {{#with totals}}
	<table>
	<tbody>
	  <tr>
	    <td><div class='event-type label-day' style='width: 50px;'>&nbsp;</div></td>
		{{#each results}}
	      <td><div class='event-type label-day' style='width: {{width}}; color: {{txtColor}}; background: {{bgColor}};'>{{code}}</div></td>
	    {{/each}}
	  </tr>
	  <tr>
	    <td><div class='event-type label-day' style='width: 50px;'>Events:</div></td>
		{{#each results}}
	      <td><div class='event-type' style='width: {{width}}; color: {{txtColor}}; background: {{bgColor}}; text-align: right;'>{{E}}</div></td>
	    {{/each}}
	  </tr>
	  <tr style="padding: 0px; margin: 0px;">
	    <td><div class='event-type label-day' style='width: 50px;'>Hours:</div></td>
		{{#each results}}
	      <td><div class='event-type' style='width: {{width}}; color: {{txtColor}}; background: {{bgColor}}; text-align: right;'>{{H}}</div></td>
	    {{/each}}
	  </tr>
	  <tr><td colspan="8" style="height: 4px;"></td></tr>
	</tbody>
	</table>
  {{/with}}
</template>