<template name="folderPage">
  {{#with currentEmployee}}
    <table>
      <!-- <tr> -->
      	<!-- <td style="width: 120px; font-weight: bold;">Id</td> -->
        <!-- <td>{{_id}}</td> -->
      <!-- </tr> -->
      <tr>
      	<!-- <td style="width: 120px; font-weight: bold;">Name</td> -->
        <!-- <td>{{fname}} {{lname}}</td> -->
        <td style="width: 120px; font-weight: bold;">
          <label for="empIdCb" style="font-weight: bold;">Employee Name:</label>
        </td>
        <td>
          <select style="width: 320px; margin: 0px;" type="text" name="empIdCb" value="{{currentEmpId}}" id="empIdCb" class="empIdCb" {{#unless hasAccess}}disabled="disabled"{{/unless}}>
            {{#if isAdmin}}
              <option value='All' text='All Employees'{{selectedValue 'All' currentEmployee._id}}>All Employees</option>
            {{/if}}
            {{#each employees}}
              <option value='{{_id}}' text='{{fname}} {{lname}}'{{selectedValue _id currentEmployee._id}}>{{fname}} {{lname}}</option>
            {{/each}}
          </select>
        </td>
      </tr>
      <tr>
        <td style="font-weight: bold;">
          <label for="yearCb" style="font-weight: bold;">Year:</label>
        </td>
        <td>
          <select style="width: 70px; margin: 0px;" type="text" name="yearCb" value="{{currentYear}}" id="yearCb" class="yearCb">
            {{#each years}}
              <option value='{{year}}' text='{{year}}'{{selectedValue year currentYear}}>{{year}}</option>
            {{/each}}
          </select>
        </td>
      </tr>
      <tr>
      	<td style="font-weight: bold;"># work Days</td>
      	<td>0.0</td>
      </tr>
      <tr>
      	<td style="font-weight: bold;"># Leave Days</td>
      	<td>0.0</td>
      </tr>
      <tr>
      	<td style="font-weight: bold;"># Extra Hours</td>
      	<td>0.0</td>
      </tr>
      <tr>
      	<td style="font-weight: bold;"># Recup Hours</td>
      	<td>0.0</td>
      </tr>
    </table>
    <br/>
    <table style="border: 1px solid black; font-size: 12px;">
      <tr style="border: 1px solid black;">
        <td style="border-right: 1px solid black; text-align: center; font-weight: bold; width: 80px;" colspan="4">{{currentYear}}</td>
        {{#each months}}
          <td style="border-left: 1px solid black; text-align: center; font-weight: bold; width: 50px;" title="{{mTxt}}">{{m}}</td>
        {{/each}}
        <td style="border-left: 1px solid black; text-align: center; font-weight: bold; width: 70px;">Total</td>
      </tr>
      {{#each eventTypes}}
      {{#if isSubType this}}
      <tr class="{{parent}}" style="display: none;">
        <td style="text-align: center; background-color: {{backgroundColor}}; width: 20px;">
          <!-- <input type="checkBox" id="eventType{{code}}" class="eventTypeChk" name="eventType{{code}}" checked> -->
          &nbsp;
        </td>
        <td style="background-color: {{backgroundColor}}; width: 10px;">&nbsp;</td>
        <td style="text-align: center; background-color: {{backgroundColor}}; width: 10px; color: {{textColor}};">-</td>
        <td style="font-size: 11px; border-right: 1px solid black; text-align: left; font-weight: bold; background-color: {{backgroundColor}}; color: {{textColor}}; width: 40px;" title="{{title}}">{{code}}</td>
        {{#each totals}}
          {{#if tot}}
        	  <td style="font-weight: bold; font-size: 11px; color: #333; background-color: #ddd; border-left: 1px solid black; text-align: right; padding: 0px 4px 0px 4px;"><i>{{value}} {{unit}}</i></td>
          {{else}}
            <td style="font-size: 11px; color: #333; background-color: #ddd; border-left: 1px solid black; text-align: right; padding: 0px 4px 0px 4px;"><i>{{value}} {{unit}}</i></td>
          {{/if}}
        {{/each}}
      </tr>
      {{else}}
      <tr class="{{parent}}">
        <td style="text-align: center; background-color: {{backgroundColor}}; width: 20px;">
          <input type="checkBox" id="eventType{{code}}" class="eventTypeChk" name="eventType{{code}}" checked>
        </td>
        {{#if hasSubTypes this._id}}
          <td style="text-align: center; background-color: {{backgroundColor}}; width: 10px;">
            <a href="" id="{{_id}}" name="{{_id}}" class="lnkBtn" style="color: {{textColor}}; font-weight: bold;" title='Expand'>+</a>
          </td>
          <td style="text-align: center; font-weight: bold; background-color: {{backgroundColor}}; color: {{textColor}}; width: 10px;" title="{{title}}">{{code}}</td>
          <td style="border-right: 1px solid black; background-color: {{backgroundColor}}; width: 40px;">&nbsp;</td>
        {{else}}
          <td style="background-color: {{backgroundColor}}; width: 10px;">&nbsp;</td>
          <td style="text-align: center; font-weight: bold; background-color: {{backgroundColor}}; color: {{textColor}}; width: 10px;" title="{{title}}">{{code}}</td>
          <td style="border-right: 1px solid black; background-color: {{backgroundColor}}; width: 40px;">&nbsp;</td>
        {{/if}}
        {{#each totals}}
          {{#if tot}}
            <td style="font-weight: bold; border-left: 1px solid black; text-align: right; padding: 0px 4px 0px 4px;">{{value}} {{unit}}</td>
          {{else}}
            <td style="border-left: 1px solid black; text-align: right; padding: 0px 4px 0px 4px;">{{value}} {{unit}}</td>
          {{/if}}
        {{/each}}
      </tr>
      {{/if}}
      {{/each}}
    </table>
    <div style="margin-top: 8px; margin-left: 6px;">
      <canvas id="dataChart" width="690" height="280" title='{{currentYear}}'></canvas>
    </div>
  {{/with}}
</template>