<template name="periodDialog">
  <div id="periodDialog" class="modal">
    {{#with evt}}
      <div class="modal-header">
        <!-- <a class="close" data-dismiss="modal">x</a> -->
        <a style="float: right; margin-top: -4px; margin-right: -10px;" class="closeBtn" data-dismiss="modal">
          <button class="btn btn-mini btn-danger"><i class="icon-white icon-remove"></i></button>
        </a>
        {{#if selectedCalPeriod}}
        	<h3>Update Period</h3>
        {{else}}
          <h3>Add Period</h3>
        {{/if}}
      </div>
      <div class="modal-body">
        <label for="day">Day <span style="color: red">*</span></label>
        <select type="text" name="day" id="day">
          {{#each days}}
            <option value='{{i}}'{{selectedValue i evt.day}}>{{d}}</option>
          {{/each}}
        </select>
        <label for="title">From <span style="color: red">*</span></label>
        <input type="text" name="from" value="{{timeFormat start}}" id="from">
        <label for="title">To <span style="color: red">*</span></label>
        <input type="text" name="to" value="{{timeFormat end}}" id="to">
      </div>
      <div class="modal-footer">
        {{#if selectedCalPeriod}}
            <table>
              <tr>
                <td style="width: 400px; text-align: left; font-family: Tahoma, 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 8pt; padding: 0; line-height: 13px; border-spacing: 0;">
                  Created at {{dateTimeFormat created}} by {{userName createdBy}}<br />
                  Last modified at {{dateTimeFormat modified}} by {{userName modifiedBy}}
                </td>
                <td style="width: 160px;">
                  <a href="" class="btn btn-success save">Save</a>
                  <a href="" class="btn cancel" data-dismiss="modal">Cancel</a>
                </td>
              </tr>
            </table>
        {{else}}
          <a href="#" class="btn btn-success add">Add</a>
          <a href="#" class="btn cancel" data-dismiss="modal">Cancel</a>
        {{/if}}
      </div>
    {{/with}}
  </div>
</template>