<template name="event">
  <div>
    <div class="post-content">
      <table style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px;" class="author">
   	  	<tr>
		  {{#with eventType type}}
	        <td style="text-align: center; width: 18px; background-color: {{backgroundColor}}; color: {{textColor}};">{{code}}</td>
		  {{/with}}
   	  	  <td style="width: 64px; padding: 0px 4px 0px 8px;">
		    {{#unless locked}}
   	  	  	  <a href="" class="editEventBtn" title="Edit"><b>{{dateFormat start}}</b></a>
   	  	  	{{else}}
   	  	  	  <b>{{dateFormat start}}</b>
   	  	  	{{/unless}}	
   	  	  </td>
	      <td style="text-align: center; width: 80px; border-left: 1px solid black; padding: 0px 4px 0px 4px;">{{period this}}</td>
	      <td style="text-align: right; width: 48px; border-left: 1px solid black; padding: 0px 4px 0px 0px;">{{duration}} {{unit}}</td>
	      <td style="width: 106px; border-left: 1px solid black; padding: 0px 0px 0px 4px;">
	        <span style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 10px;">{{status}}</span>
	      </td>
          <td style="width: 24px; height: 24px; padding: 0px 0px 0px 0px;">
	        {{#unless locked}}
	          <a href=""><button class="btn btn-danger btn-mini delete" style="padding: 0px 3px 0px 2px;"><i class="icon-white icon-trash" title="Delete"></i></button></a>
  	        {{else}}
  	        {{/unless}}
          </td>
	    </tr>
	  </table>
	</div>
  </div>
</template>